html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  font-size: 20px;
  padding: 23px 28px;
  margin-right: 17px;
  line-height: 80px;
}

.header {
  background-color: #30627E;
  color: white;
  height: 80px;
  text-align: center;
}

li:first-child {
  background-color: #E52364;
  font-size: 28px;
}

ul {
  padding-left: 0px;
}

/* the li elements take up the entire
with of the screen on smaller screens

it'll take up 100% of it's parent element
*/

@media (max-width: 500px) {
  ul li {
    width: 100%;
    /*height: 100%;*/
    display: block;
    margin: 0;
  }
}